# 微信小程序
miniprogram/node_modules/
miniprogram/.tea/

# 云函数
cloudfunctions/*/node_modules/
cloudfunctions/*/.tea/

# 日志文件
*.log
npm-debug.log*

# 系统文件
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 临时文件
*.tmp
*.temp

# 微信开发者工具
project.private.config.json

.env